@charset "UTF-8";

header{
    display: block;
    height: 600px;
    width: 700px;
    margin: auto;
    background: url("../imagens/dk1.jpg") no-repeat 85% 50%;
    margin-top: -15px;
}
 header h1#title{
    display: block;
    color: #ffffff;
    text-shadow: 3px 3px 2px  rgb(0, 0, 0);
    margin-top: 300px;
    margin-left: 5%;
}

header h1#title:hover{    
    color: #ffddb1;
    transition: color 1s;
}
body {
    font-family: 'Courier New', Courier, monospace;
    background-image: linear-gradient(to right, rgb(82, 43, 224), rgb(48, 9, 155));
    margin: auto;
    }
main{
    margin: 5%;
    text-align: justify;
    width: 700px;
    margin: auto;
    }
main h1{
    margin-left: -1%;
    padding: auto;
    text-align: justify;
    font: normal bolder 20px'Courier New', Courier, monospace;
    color: rgb(255, 235, 205);
    text-shadow: 3px 3px 2px black;
    }
main h2{
    margin: 2%;
    text-align: justify;
    font: normal bolder 18px'Courier New', Courier, monospace;
                }
main p{
    background-color: aliceblue;
    box-shadow: 5px 5px 2px black;
    padding: 2%;
    font: normal bolder 16px'Courier New', Courier, monospace;
    }
footer {
    text-align: center;
    background-color: black;
    color: aliceblue;
    padding: 5px;
    font-size: 13px;
    margin: 0px;
}
nav{
    margin: 5%;
    text-align: end;
    font-weight: 900;
}
nav a{
    background-color: aliceblue;
    box-shadow: 5px 5px 2px black;
    text-decoration: none;
    padding: .7%;
    color: black;

}
nav a:hover {
    background-color: black;
    color: aliceblue;
   
}
.logo{
    display: block;
    position: absolute;
    margin-top: -1%;
    margin-left: 2%;
}
